button {
    padding: 12px;
    border-radius: 6px;
    border: none;
    color: #fff;
    font-size: 16px;
}

.btn1 {
    background-color: #f08080;
}

.btn1:hover {
    background-color: blue;
    box-shadow: #0000009e 20px 8px 40px 23px;
}

.btn2 {
    background-color: #ca8aee;
}

.btn2:hover{
    transform: scale(1.05);
}


.btn3 {
    background-color: #80d4f0;
}

.btn3:hover {
    transform: scale(1.2) rotate(10deg);
}
