.jogo{
    background-color: #333;
}

#tabela{
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

body{
    background-color: #555;
    color: #eee
}
