
.cont-app{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.cont-header{
  background-color: #ff0000; 
  /* Define a altura como 100 píxels */
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.cont-main{
  background-color: #00ff00; 
  flex: 1;
  display: flex;
}

.botoes-nav{
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: #ff000000
}

.botoes-nav:hover{
  background-color: #b700ff
}

