* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    padding: 5px;
    border-radius: 5px;
}

body{
    background-color: rgb(121, 119, 119);
}

span{
    background-color: rgb(62, 62, 62);
    color: aliceblue;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
#historico{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}